@{
	ViewData["titulo"] = "- Inicio";
}

@*<div class="text-center">
		<h1 class="display-4">Welcome</h1>
		<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	</div>*@

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

	<div class="container">
		<div class="row">
			<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
				<h1>¿Eres capaz de detectar un ataque de tipo Phishing?</h1>
				<h2>Esta plataforma web tiene como objetivo medir tu capacidad para detectar un ataque de Ingeniería Social tipo Phishing</h2>
				<div class="d-flex justify-content-center justify-content-lg-start">
					@*<a href="#about" class="btn-get-started scrollto">Empezar</a>*@
					<a href="@Url.Content("~/Evaluacion")" class="btn-get-started">Empezar</a>
					@*<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>*@
				</div>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 hero-img text-center" data-aos="zoom-in" data-aos-delay="200">
				@*<img src="~/img/client/hero-img.png" class="img-fluid animated" alt="">*@
				<img src="~/img/imgPhishing.jpg" class="img-fluid animated" alt="" style="width:500px">
			</div>
		</div>
	</div>
</section><!-- End Hero -->

<!-- ======= Services Section ======= -->
<section id="quees" class="services">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>¿Qué es Phishing?</h2>
			<p>
				El Phishing es una técnica de ciberseguridad que utiliza el fraude, el engaño y el timo para mipular a sus víctimas y hacer que revelen información personal confidencial
				o permitan a hackers ingresar en su máquina con nefastos fines.
			</p>
			<p>A través de esta aplicación Usted podrá prepararse para detectar mensajes fraudulentos y proteger sus datos e identidad digital.</p>
		</div>

	</div>
</section><!-- End Services Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>¿Cómo Defenderse?</h2>
			<p>
				La prevención es la mejor defensa. En la actualidad, los delitos informáticos de suplantación de identidad y robo de información están en auge
				por lo que es clave que todos los usuarios frecuentes de internet sepan como reconocer este tipo de amenazas para poder evitarlas.
			</p>
			<br/>
			<p>
				Este sitio web le proporciona una herramienta para entrenar y evaluar su conocimiento sobre estos ataques. Haga clic en Empezar para
				iniciar su evaluación.
			</p>
		</div>

		<div class="faq-list">
			<ul>
				<li data-aos="fade-up" data-aos-delay="100">
					@* <i class="bx bx-help-circle icon-help"></i> *@
					<i class="bx bx-right-arrow icon-help"></i>
					<a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
						1. Ingrese sus datos.
						<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
					</a>
					<div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
						<p>
							Para efectos estadísticos, se le pedirá que ingrese una breve descripción personal y profesional.
							No se preocupe, sus datos son 100% confidenciales y no se utilizan fuera de esta plataforma para publicidad o ninguna otra actividad relacionada.
						</p>

						<p>
							Para más información, por favor revise nuestra política de privacidad en el siguiente vínculo:
							<a href="@Url.Content("~/Home/Privacy")" style="display: inline; padding: 0">Política de Privacidad </a>
						</p>

					</div>
				</li>

				<li data-aos="fade-up" data-aos-delay="200">
					<i class="bx bx-right-arrow icon-help"></i>
					<a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
						2. Evalúe mensajes de correo electrónico.
						<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
					</a>
					<div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
						<p>
							Se le presentará una serie de mensajes de correo electrónico simulados para que los observe con atención y pueda determinar si son
							mensaje legítimos o si son un intento de fraude o suplantación de identidad. Analice cuidadosamente cada mensaje antes de dar su respuesta.
						</p>
					</div>
				</li>

				<li data-aos="fade-up" data-aos-delay="300">
					<i class="bx bx-right-arrow icon-help"></i>
					<a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
						3. Cuestionario de percepción de seguridad.
						<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
					</a>
					<div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
						<p>
							Adicionalmente, se le presentará un cuestionario con simples preguntas sobre qué tan seguro se siente con sus actividades en internet.
						</p>
					</div>
				</li>

				<li data-aos="fade-up" data-aos-delay="400">
					<i class="bx bx-right-arrow icon-help"></i>
					<a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
						4. Obtenga sus resultados
						<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
					</a>
					<div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
						<p>
							Al terminar, podrá ver un resumen de la evaluación con una explicación de cada respuesta y su nivel de percepción de seguridad informática.
							Asegúrese de revisar bien el contenido.
						</p>
					</div>
				</li>

			</ul>
		</div>

	</div>
</section><!-- End Frequently Asked Questions Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Contacto</h2>
			<p>
				Si tiene cualquier comentario adicional, por favor déjenos saber usando el formulario a continuación.
			</p>
		</div>

		<div class="row">

			<div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
				<form action="@Url.Content("~/Home/Mensaje")" method="post" role="form"
				      autocomplete="off"
				      class="php-email-form smallForm" id="formContacto">
					@Html.AntiForgeryToken()
					<div class="row">
						<div class="form-group col-md-6">
							<label for="name">Su nombre</label>
							<input type="text" name="nombre" class="form-control" id="name" required maxlength="50" v-model="model.nombre">
						</div>
						<div class="form-group col-md-6">
							<label for="name">Correo electrónico</label>
							<input type="email" class="form-control" name="email" id="email" required maxlength="50" v-model="model.email">
						</div>
					</div>
					<div class="form-group">
						<label for="name">Título</label>
						<input type="text" class="form-control" name="titulo" id="subject" required maxlength="100" v-model="model.titulo">
					</div>
					<div class="form-group">
						<label for="name">Mensaje</label>
						<textarea class="form-control" name="mensaje" rows="2" required maxlength="500" v-model="model.mensaje"></textarea>
					</div>
					<div class="my-3">
						<div class="loading">Procesando</div>
						<div class="error-message"></div>
						<div class="sent-message">Su mensaje ha sido enviado! Muchas gracias por su interés</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn-sm btn">Enviar Mensaje</button>
					</div>
				</form>
			</div>

		</div>

	</div>
</section><!-- End Contact Section -->

@section Scripts {
	@await Html.PartialAsync("_Validation")

	<script>

		Vue.createApp({
			data() {
				return {
					baseUrl: '@ViewBag.self',
					model: {nombre:'', email:'', titulo:'', mensaje:''}
				}
			},
			methods: {
				mensaje() {
					$('#formContacto button').prop('disabled', true);
					var token = $('input[name="forgeryField"]').val();
					$.ajax({
						type: "POST",
						url: "@Url.Action("Mensaje")",
						headers: { "X-CSRF-TOKEN-HEADERNAME": token },
						dataType: "json",
						contentType: "application/json; charset=utf-8",
						data: JSON.stringify(this.model),
						success: function (data) {
							if (data.error) {
								$('#formContacto button').prop('disabled', false);
								return alert(data.error);
							}
							alert("Gracias por su mensaje!");
							window.location.reload();
						},
						error: function (req, status, error) {
							alert(error);
						}
					});
					return false;
				},
			},
			mounted() {
				var self = this;
				$('#formContacto').validate({
					submitHandler: this.mensaje
				});
			}
		})
		.use(globalDirectives)
		.mount('#contact')

	</script>
}