<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Phishing Detection @ViewBag.titulo</title>
	<meta content="phishing, security" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="~/img/client/favicon.png" rel="icon">
	<link href="~/img/client/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="~/lib/aos/aos.css" rel="stylesheet">
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
	<link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet" />
	<link href="~/lib/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="~/lib/remixicon/remixicon.css" rel="stylesheet">
	<link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="~/css/client-style.css" rel="stylesheet">

	<!-- =======================================================
	* Template Name: Arsha
	* Updated: Mar 10 2023 with Bootstrap v5.2.3
	* Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
	@*<header id="header" class="fixed-top header-inner-pages">*@
	<header id="header" class="fixed-top @ViewBag.claseHeader">
		<div class="container d-flex align-items-center">

			<h1 class="logo me-auto"><a href="@Url.Content("~/")">Phishing Detection</a></h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html" class="logo me-auto"><img src="~/img/client/logo.png" alt="" class="img-fluid"></a>-->

			<nav id="navbar" class="navbar">
				<ul>
					<li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
					<li><a class="nav-link scrollto" href="#about">Acerca de</a></li>
					@*<li><a class="nav-link scrollto" href="#services">Services</a></li>
						<li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>*@
					@*<li><a class="nav-link scrollto" href="#team">Team</a></li>
						<li class="dropdown">
							<a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
							<ul>
								<li><a href="#">Drop Down 1</a></li>
								<li class="dropdown">
									<a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
									<ul>
										<li><a href="#">Deep Drop Down 1</a></li>
										<li><a href="#">Deep Drop Down 2</a></li>
										<li><a href="#">Deep Drop Down 3</a></li>
										<li><a href="#">Deep Drop Down 4</a></li>
										<li><a href="#">Deep Drop Down 5</a></li>
									</ul>
								</li>
								<li><a href="#">Drop Down 2</a></li>
								<li><a href="#">Drop Down 3</a></li>
								<li><a href="#">Drop Down 4</a></li>
							</ul>
						</li>*@
					<li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
					@*<li><a class="nav-link" href="@Url.Content("~/Manage")" target="_blank">Ingreso</a></li>*@
					<li><a class="nav-link" href="@Url.Content("~/Ingreso")">Ingreso</a></li>
					

					@*<li><a class="getstarted scrollto" href="#about">Empezar</a></li>*@
					<li><a class="getstarted" href="@Url.Content("~/Evaluacion")">Empezar</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav><!-- .navbar -->

		</div>
	</header><!-- End Header -->


	<main id="main">
		@RenderBody()
	</main><!-- End #main -->
	<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="footer-top">
			@*<div class="footer-newsletter">*@
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6 footer-contact">
						<h3 style="font-size: 15pt">Phishing Detection</h3>
						<p>
							Desarrollado por: Manuel Gómez Placencia <br />
							<br />
							Idea original: <br />
							Dario Ismael Valarezo Bracho<br />
							Diana Anabel Arévalo Briceño

						</p>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Our Services</h4>
						<ul>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>

						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Our Social Networks</h4>
						<p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
						<div class="social-links mt-3">
							<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
							<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>

						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="container footer-bottom clearfix">
			<div class="copyright">
				&copy; Copyright <strong><span>2023</span></strong>. Derechos Reservados
			</div>
			<div class="credits">
				<!-- All the links in the footer should remain intact. -->
				<!-- You can delete the links only if you purchased the pro version. -->
				<!-- Licensing information: https://bootstrapmade.com/license/ -->
				<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
				Diseño por <a href="https://bootstrapmade.com/">BootstrapMade</a>
			</div>
		</div>
	</footer><!-- End Footer -->

	<div id="preloader"></div>
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
		<i class="bi bi-arrow-up-short"></i>
	</a>

	<!-- Vendor JS Files -->
	<script src="~/lib/aos/aos.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/glightbox/js/glightbox.min.js"></script>
	<script src="~/lib/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="~/lib/swiper/swiper-bundle.min.js"></script>
	<script src="~/lib/waypoints/noframework.waypoints.js"></script>

	<environment include="Development">
		<script src="~/lib/vue/dist/vue.global.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/vue/dist/vue.global.prod.js"></script>
	</environment>


	<!-- Template Main JS File -->
	<script src="~/js/client-main.js" asp-append-version="true"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>window.root = '@ViewBag.self';</script>

	@await RenderSectionAsync("Scripts", required: false)

</body>

</html>