@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<section id="app">

	<div class="pagetitle">
		<h1>Entrenamiento de Detección de Phishing</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="~/Manage">Inicio</a>
				</li>
				<li class="breadcrumb-item active">Dashboard</li>
			</ol>
		</nav>
	</div>

	<section class="section">
		<div class="row">
			<div class="col-sm-10">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Bienvenido!</h5>

						<div class="row">
							<div class="col-lg-4 text-center d-sm-none d-md-block" style="min-width: 310px">
								<a href="@Url.Content("~/")" target="_blank">
									<img alt="Deteccion de Phishing" src="~/img/imgPhishing.jpg" width="300" />
								</a>
							</div>
							<div class="col-sm-12 col-lg-8">
								<p>
									Bienvenido al sistema de Entrenamiento para Detección de Phishing.
								</p>
								<p>
									Utilice las opciones del menú del lado izquierdo para acceder a cada sección del área de contenido y mantenimiento.
								</p>
								<p>
									Para acceder a la pàgina principal de la aplicación haga clic en la imagen izquierda o
									<a href="@Url.Content("~/")" target="_blank">Aquí</a>.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">


				<div class="card info-card sales-card">
					<div class="card-body">
						<h5 class="card-title">Registros en el sistema <i class="bi bi-mortarboard"></i></h5>

						<table class="table minitabla">
							<tr>
								<td class="border-0">
									<h5 v-text="est.numSesiones"></h5>
									<h6 class="text-success fw-bold">Exámenes tomados</h6>
								</td>
								<td class="border-0">
									<h5 v-text="est.numPersonas"></h5>
									<h6 class="text-success fw-bold">Personas registradas</h6>
								</td>
								<td class="border-0">
									<h5 v-text="est.numPreguntas"></h5>
									<h6 class="text-success fw-bold">Preguntas ingresadas</h6>
								</td>
							</tr>
						</table>

					</div>
				</div>



				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Últimas 10 evaluaciones</h5>

						<table class="table minitabla table-hover">
							<tr>
								<th>Fecha</th>
								<th>Persona</th>
								<th>Estado</th>
							</tr>
							<tr v-for="e in est.ultimas10">
								<td>
									<a target="_blank" :href="linkEval(e)">
										{{ fecha(e.fecha_examen, 'fechaHora') }}
									</a>
								</td>
								<td>{{ e.nombre }}</td>
								<td>{{ nombreEstado(e.estado) }}</td>
							</tr>
						</table>

					</div>
				</div>

			</div>

			<div class="col-lg-6">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Preguntas más erradas</h5>

						<table class="table minitabla table-hover">
							<thead>
							<th>Pregunta</th>
							<th>Dificultad</th>
							<th>Clase</th>
							<th>Erradas</th>
							<th>Correctas</th>
							<th>% Exito</th>
							</thead>

							<tr v-for="p in est.exitoPreguntas">
								<td v-text="p.nombre"></td>
								<td v-text="p.dificultad"></td>
								<td v-text="p.clase"></td>
								<td v-text="p.erradas"></td>
								<td v-text="p.correctas"></td>
								<td v-text="p.porExito"></td>
							</tr>

						</table>

					</div>
				</div>

			</div>
		</div>
	</section>

</section>

@section Scripts {

	@await Html.PartialAsync("_Validation")

	<script>
		Vue.createApp({
				data() {
					return {
						baseurl: '@ViewBag.self',
						est: @Html.Raw(ViewBag.est),
					}
				},
				watch: {
				},
				methods: {
					linkEval(e) {
						var href = "@Url.Content("~/Manage/Evaluaciones/detalle/")" + e.id
						return href;
					},
					nombreEstado(e) {
						if (!e) return '';
						return e.toUpperCase().replace('_', ' ');
					}
				},
				created() {},
				mounted() {}
			})
			.use(globalDirectives)
			.mount('#app');

	</script>
}